/* Header Section */
.header-bg {
    background-image: url(/img/equipment.jpg);
    height: 75vh;
    background-size: cover;
    background-position: center;
}

/* About Section */

.background {
    background-image: url(/img/merchant-header.jpg);
    max-height: 100vh;
}

/* Skills Section */
.sale {
    background-color: #88808F;
}

/* Projects Section */
.project-img {
    height: 500px;
    
}

.project-img:hover {
    transform: scale(1.2);
    transition: ease-in-out;
    transition-duration: 1.2s;
}

.project-img-container {
    overflow: hidden;
}

/* Contact Section */
.section_contact {
    background-color: var(--light-blue);
}

/* Buttons Section */
.btn-green {
    color: #79A988;
    border: solid;
}

.btn-green:hover {
    background-color: var(--olive-green);
    border: solid var(--olive-green);
}